/* X-Large devices (large desktops, less than 1400px) */
@media only screen and (max-width: 1399.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {

}

/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {

}

/* Tablets - not Ipad Pro */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    header {
        height: 10vh;
    }

    header li, header p {
        font-size: 4vw;
    }

    .Home h1 {
        width: 90%;
        padding: 15% 0 0 5%;
        font-size: 12vw;
    }

    #agency-name {
        font-size: 8vw;
    }

    .contact-wrapper {
        flex-direction: column;
    }

    #contact-p {
        font-size: 8vw;
        margin: 0;
    }

    .contact-wrapper div {
        border: 0;
    }

    .contact-wrapper div p {
        font-size: 4vw;
    }

    .contact-wrapper div img {
        width: 4vw;
    }

    .corporate-memphis {
        display: none;
    }

    .description {
        margin-left: 5%;
    }

    .description h2 {
        font-size: 8vw;
        width: 95%;
    }

    .description p {
        font-size: 5vw;
        width: 80%;
    }

    .Services {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service {
        height: 180vh;
    }

    .service-wrapper {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }

    .service-grid {
        width: 95%;
        margin-left: 5%;
    }

    .price-service {
        height: 15vh;
    }

    .price-service h3 {
        font-size: 7vw;
    }

    .service-grid p, .service-grid li {
        font-size: 4vw;
    }

    .preventivo a {
        font-size: 3vw;
    }

    .corporate-memphis2 {
        width: 110vw;
    }

    .added-tax {
        height: 75vh;
        margin: 0;
        width: 90vw;
    }

    .added-tax p {
        font-size: 7vw;
    }

    .added-tax ul {
        height: 100%;
        grid-template-columns: 45% 45%;
        grid-template-rows: 33% 33% 33%;
        gap: 8vw 8vw;
    }

    .added-tax ul li {
        max-width: 40vw;
        font-size: 3.5vw
    }

    #Footer {
        height: 50vh;
        padding: 5% 0 0 5%;
    }

    #Footer div {
        width: 100%;
        height: 100%;
    }

    #Footer p {
        font-size: 4vw;
    }

    #Footer li {
        font-size: 3vw;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 767.98px) {

}

/* X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
    header {
        height: 5vh;
    }

    header ul {
        padding: 0;
    }

    header li, header p {
        font-size: 4vw;
    }

    .Home h1 {
        width: 90%;
        padding: 15% 0 0 5%;
        font-size: 12vw;
    }

    #agency-name {
        font-size: 8vw;
    }

    .contact-wrapper {
        flex-direction: column;
    }

    #contact-p {
        font-size: 8vw;
        margin: 0;
    }

    .contact-wrapper div {
        border: 0;
    }

    .contact-wrapper div p {
        font-size: 4vw;
    }

    .contact-wrapper div img {
        width: 4vw;
    }

    .corporate-memphis {
        display: none;
    }

    .description {
        margin-left: 5%;
    }

    .description h2 {
        font-size: 8vw;
        width: 95%;
    }

    .description p {
        font-size: 5vw;
        width: 80%;
    }

    .Services {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service {
        height: 140vh;
    }

    .service-wrapper {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }

    .service-grid {
        width: 95%;
        margin-left: 5%;
    }

    .price-service {
        height: 10vh;
    }

    .price-service h3 {
        font-size: 7vw;
    }

    .service-grid p, .service-grid li {
        font-size: 4vw;
    }

    .corporate-memphis2 {
        width: 110vw;
    }

    .added-tax {
        width: 80vw;
        height: 30vh;
    }

    .added-tax ul {
        height: 100%;
        grid-template-columns: 45% 45%;
        grid-template-rows: 33% 33% 33%;
        gap: 8vw 8vw;
    }

    .added-tax ul li {
        max-width: 40vw;
        font-size: 3.5vw
    }

    #Footer {
        height: 50vh;
        padding: 5% 0 0 5%;
        margin-top: 15%;
    }

    #Footer div {
        width: 100%;
        height: 100%;
    }

    #Footer p {
        font-size: 4vw;
    }

    #Footer li {
        font-size: 3vw;
    }

    .web-agency img {
        width: 6vw;
    }
}

/* XX-Small Devices */
@media only screen and (max-width: 361.98px) {

}
